<!-- footer-28 block -->
<section class="w3l-market-footer">
  <footer class="footer-28">
    <div class="footer-bg-layer">
      <div class="container py-lg-3">
        <div class="row footer-top-28">
          <div class="col-md-6 footer-list-28 mt-5">
            <h6 class="footer-title-28">Información de contacto</h6>
            <ul>
              <li>
                <p>
                  <strong>Dirección</strong> : Colón, General Ramirez, Entre
                  Rios
                </p>
              </li>
              <li>
                <p>
                  <strong>Teléfono</strong> :
                  <a href="tel:+54 9 3434 66-6435">+54 9 3434 66-6435</a>
                </p>
              </li>
              <li>
                <p>
                  <strong>Email</strong> :
                  <a href="mailto:multiplesposibilidades@gmail.com"
                    >multiplesposibilidades@gmail.com</a
                  >
                </p>
              </li>
            </ul>

            <div class="main-social-footer-28 mt-5">
              <ul class="social-icons">
                <li class="whatsapp">
                  <a href="#link" title="Whatsapp">
                    <span class="fa fa-whatsapp" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="facebook">
                  <a href="#link" title="Facebook">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="instagram">
                  <a href="#link" title="Instagram">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="twitter">
                  <a href="#link" title="Twitter">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="linkedin">
                  <a href="#link" title="linkedin">
                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="google">
                  <a href="#link" title="Google">
                    <span class="fa fa-google" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 footer-list-28 mt-5">
                <h6 class="footer-title-28">Formas de pago</h6>
                <p>
                  Ofrecemos la forma de pago que se acomode a su economía:
                  Tarjeta de crédito, debito, transferenica bancaria, Mercado
                  Pago
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="midd-footer-28 align-center py-lg-4 py-3 mt-5">
        <div class="container">
          <p class="copy-footer-28 text-center">
            &copy; Todos los derechos reservados. Desarrollado por
            <a href="https://eliascapasso.web.app/">Capasso Elias Nicolas</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
